<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
    <%- include ./common/head %>
  </head>
  <body>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h1 class="panel-title"><%= title %></h1>
    </div>
    <p class="panel-body">Welcome to <%= title %></p>
  </div>
    <%- include ./common/foot %>
  </body>
</html>
